h1 {
    color: darkred
}

.div1 {
    width: 800px;
    height: 560px;
    background-color: cornflowerblue;
}

.div2 {
    width: 35px;
    height: 200px;
    background-color: coral;
}

.div3 {
    width: 600px;
    height: 450px;
    background-color: greenyellow;
}