h1 {
    color: darkred
}

.div1 {
    width: 800px;
    height: 300px;
    background-color: cornflowerblue;
}

.div2 {
    width: 300px;
    height: 300px;
    background-color: coral;
}

.div3 {
    width: 600px;
    height: 150px;
    background-color: blue;
}